.min-height {
  min-height: 50px;
}

.nav-link {
  background: #232c35;
  width: 100%;
  text-align: center;
  border: solid #4c5864;
  border-width: 1px 0 0 0;
}

@media (min-width: 768px) {
  .nav-link {
    background: none;
    width: auto;
    border-width: 0;
  }
}

.scaling-image {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  background: radial-gradient(ellipse at 100% 100%, #4c5864, #232c35);
}

header .textblock {
  width: 400px;
}

header .social-icon {
  height: 30px;
  width: 30px;
  padding: 5px;
}

header .git-logo {
  height: 50px;
}

header h1 {
  font-size: 1.2em;
  margin: 15px 0 10px;
}

main > div.row {
  padding: 50px 10%;
  min-height: 100px;
}

main > div.row:nth-child(even) {
  background-color: white;
}

main > div.row:nth-child(odd) {
  background-color: #f1f5f8;
}

main h2 {
  font-size: 1.1em;
  text-align: center;
  color: #4c5864;
  margin: 5px 0 30px;
  text-transform: uppercase;
}

main h2::after {
  content: '';
  position: absolute;
  right: 50%;
  bottom: -16px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#0000), color-stop(25%, #2d9ffd), color-stop(75%, #2d9ffd), to(#0000));
  background: linear-gradient(90deg, #0000 0%, #2d9ffd 25%, #2d9ffd 75%, #0000 100%);
  width: 40px;
}

main h2.left {
  text-align: left;
}

main h2.left::after {
  right: 0;
  left: 20px;
  -webkit-transform: none;
          transform: none;
}

main h3 {
  font-size: 1.1em;
  text-transform: uppercase;
  color: #4c5864;
  white-space: nowrap;
}

main h4 {
  color: #232c35;
  font-size: 1em;
  text-align: center;
  white-space: nowrap;
}

main p {
  color: #4c5864;
}

main img.icon {
  display: block;
  margin: 20px auto;
  width: 50%;
}

#contacts {
  background: radial-gradient(ellipse at 100% 0%, #4c5864, #232c35);
  color: #f1f5f8;
}

#contacts form {
  max-width: 500px;
  width: 100%;
  background: #232c35;
}

@media (min-width: 576px) {
  #contacts form {
    background: none;
  }
}

#contacts h2 {
  font-size: 1.2em;
}

#contacts textarea {
  min-height: 100px;
}

#contacts canvas {
  width: 100px;
  height: 50px;
  background-color: white;
}

#header-nav {
  display: none;
}

#header-nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  #header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.pane-button {
  width: 15px;
  fill: none;
  stroke: #4c5864;
}

.pane-button:hover {
  fill: #4c5864;
  stroke: #4c5864;
}

.pane-button.active {
  fill: #2d9ffd;
  stroke: #2d9ffd;
}

.pane-button.active:hover {
  stroke: #4c5864;
}

.pane {
  width: 100%;
  display: none;
}

.pane.active {
  display: unset;
}

@media (min-width: 576px) {
  .no-pane-button-sm {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .pane-upto-sm {
    width: 100%;
    display: none;
  }
  .pane-upto-sm.active {
    display: unset;
  }
}

.partner-logos {
  overflow-x: scroll;
}

@media (min-width: 576px) {
  .partner-logos {
    overflow-x: unset;
  }
}

.partner-logos .image {
  width: 100%;
  height: 200px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.partner-logos .image:hover {
  -webkit-filter: none;
          filter: none;
}

.partner-logos .image.logo-1 {
  background-image: url(../img/partners/danaher-logo.png);
}

.partner-logos .image.logo-2 {
  background-image: url(../img/partners/dentsu-isobar-newspage.jpg);
}

.partner-logos .image.logo-3 {
  background-image: url(../img/partners/generali-1.jpg);
}

.partner-logos .image.logo-4 {
  background-image: url(../img/partners/logo-1280.png);
}

.partner-logos .image.logo-5 {
  background-image: url(../img/partners/logo-lagardere-sports-entertainment.png);
}

.partner-logos .image.logo-6 {
  background-image: url(../img/partners/microsoft-1.jpg);
}

.partner-logos .image.logo-7 {
  background-image: url(../img/partners/MissMarvels_01-1.png);
}

.partner-logos .image.logo-8 {
  background-image: url(../img/partners/MKB-1.gif);
}

.carousel {
  height: 250px;
  overflow: hidden;
}

.carousel .left, .carousel .right {
  height: 100%;
  width: 50px;
  background-color: #f1f5f8;
  opacity: 0.85;
  z-index: 1;
  text-align: center;
  line-height: 250px;
  position: absolute;
  top: 0px;
}

.carousel .left {
  left: 20px;
}

.carousel .right {
  right: 20px;
}

.carousel .item-container {
  --offset: 0;
  white-space: nowrap;
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(50% - 150px - (var(--offset) * 300px));
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel .item-container .item {
  width: 300px;
  height: 200px;
  display: inline-block;
}

.carousel .item-container .item .image {
  width: 100%;
  height: 100%;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  transition: width 0.5s, height 0.5s, transform 0.5s;
  transition: width 0.5s, height 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.carousel .item-container .item .image.ref-1 {
  background-image: url(../img/ref-1.jpg);
}

.carousel .item-container .item .image.ref-2 {
  background-image: url(../img/ref-2.jpg);
}

.carousel .item-container .item .image.ref-3 {
  background-image: url(../img/ref-3.jpg);
}

.carousel .item-container .item .image.ref-4 {
  background-image: url(../img/ref-4.jpg);
}

.carousel .item-container .item .image.ref-5 {
  background-image: url(../img/ref-5.jpg);
}

.carousel .item-container .item .image:hover {
  width: 110%;
  height: 110%;
  -webkit-transform: translate(-5%, -5%);
          transform: translate(-5%, -5%);
}

@media (max-width: 575.98px) {
  .text-upto-sm-center {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */