@import "variables";
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/_mixins.scss";

.min-height{
    min-height: 50px;
}

.nav-link{
    background: $primary;
    width: 100%;
    text-align: center;
    border: solid $light;
    border-width: 1px 0 0 0;
    @include media-breakpoint-up(md){
        background: none;
        width: auto;
        border-width: 0;
    }
}

.scaling-image{
    width: 100%;
    max-width: 600px;

    display: block;
    margin: 0 auto;
}

.image{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    background: radial-gradient(ellipse at 100% 100%,$light, $primary);
    .textblock{
        width: 400px;
    }

    .social-icon{
        height: 30px;
        width: 30px;
        padding: 5px;
    }
    
    .git-logo{
        height: 50px;
    }

    h1{
        font-size: 1.2em;
        margin: 15px 0 10px;
    }
}

main{
    >div.row{
        padding: 50px 10%;
        min-height: 100px;

        &:nth-child(even){
            background-color: white;
        }
        &:nth-child(odd){
            background-color: $secondary;
        }
    }
    h2{
        font-size: 1.1em;
        text-align: center;
        color: $light;
        margin: 5px 0 30px;
        text-transform: uppercase;
        &::after{
            content: '';
            position: absolute;
            right: 50%;
            bottom: -16px;
            transform: translateX(50%);

            height: 2px;
            background: linear-gradient(90deg, #0000 0%, $blue 25%, $blue 75%, #0000 100%);
            width: 40px;
        }
        &.left{
            text-align: left;
            &::after{
                right:0;
                left:20px;
                transform: none;
            }
        }
    }
    h3{
        font-size: 1.1em;
        text-transform: uppercase;
        color: $light;
        white-space: nowrap;
    }
    h4{
        color: $primary;
        font-size: 1em;
        text-align: center;
        white-space: nowrap;
    }
    p{
        color: $light;
    }
    img.icon{
        display: block;
        margin: 20px auto;
        width: 50%;
    }
}

#contacts{
    background: radial-gradient(ellipse at 100% 0%,$light, $primary);
    color: $secondary;
    form{
        max-width: 500px;
        width: 100%;
        background: $primary;
        @include media-breakpoint-up(sm){
            background: none;
        }
    }

    h2{
        font-size: 1.2em;
    }

    textarea{
        min-height: 100px;
    }

    canvas{
        width: 100px;
        height: 50px;
        background-color: white;
    }
}

#header-nav{
    display: none;
    &.active{
        display: flex;
    }
    @include media-breakpoint-up(md){
        display: flex;
    }
}

.pane-button{
    width: 15px;
    fill: none;
    stroke: $light;
    &:hover{
        fill: $light;
        stroke: $light;
    }
    &.active{
        fill: $blue;
        stroke: $blue;
        &:hover{
            stroke: $light;
        }
    }
}

.pane{
    width: 100%;
    display:none;
    &.active{
        display:unset;
    }
}

.no-pane-button-sm{
    @include media-breakpoint-up(sm){
        display: none;
    }
}

.pane-upto-sm{
    @include media-breakpoint-down(xs){
        width: 100%;
        display:none;
        &.active{
            display:unset;
        }
    }
}



.partner-logos {
    overflow-x: scroll;//different implementation instead of default scroll?
    @include media-breakpoint-up(sm){
        overflow-x: unset;
    }

    .image{
        width: 100%;
        height: 200px;
        filter: grayscale(100%);
        &:hover{
            filter: none;
        }


        $logos : (
            "../img/partners/danaher-logo.png",
            "../img/partners/dentsu-isobar-newspage.jpg",
            "../img/partners/generali-1.jpg",
            "../img/partners/logo-1280.png",
            "../img/partners/logo-lagardere-sports-entertainment.png",
            "../img/partners/microsoft-1.jpg",
            "../img/partners/MissMarvels_01-1.png",
            "../img/partners/MKB-1.gif"
        );
        @for $i from 1 through length($logos){
            &.logo-#{$i}{
                background-image: url(#{nth($logos,$i)});
            }
        }
    }
}

.carousel{
    height: 250px;
    overflow: hidden;
    .left,.right{
        height: 100%;
        width: 50px;
        background-color: $secondary;
        opacity: 0.85;
        z-index: 1;
        text-align: center;
        line-height: 250px;

        position: absolute;
        top:0px;
        
    }
    .left{
        left: 20px;
    }
    .right{
        right: 20px;
    }
    .item-container{
        --offset: 0;
        white-space: nowrap;
        position: absolute;
        top: 0; bottom: 0;
        left: calc(50% - 150px - (var(--offset) * 300px));
        transition: left 0.5s ease-in-out;
        display: flex;
        align-items: center;
        .item{
            width: 300px;
            height: 200px;
            display: inline-block;
            .image{
                width: 100%;
                height: 100%;
                transition: width 0.5s, height 0.5s, transform 0.5s;
                $refs:(
                    "../img/ref-1.jpg",
                    "../img/ref-2.jpg",
                    "../img/ref-3.jpg",
                    "../img/ref-4.jpg",
                    "../img/ref-5.jpg"
                );
                @for $i from 1 through length($refs){
                    &.ref-#{$i}{
                        background-image: url(#{nth($refs,$i)});
                    }
                }
                &:hover{
                    width: 110%;
                    height: 110%;
                    transform: translate(-5%,-5%);
                }
            }
        }
    }
}

.text-upto-sm-center{
    @include media-breakpoint-down(xs){
        text-align: center;
    }
}